.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* здесь все про хедер */
.header {
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
}

.header__title {
  color: black;
  align-self: center;
  max-width: 730px;
  z-index: 4;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  color: black;
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 3;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 2;
  object-fit: contain;
  object-position: right bottom;
}

.header__square-pic {
  z-index: 1;
  margin: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* здесь все про дескрипшн */
.description {
  min-width: 1100px;
  max-width: 1600px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  margin: auto;
  align-self: center;
  width: 80%;
  min-height: 330px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* здесь все про диджитс */
.digits {
  min-width: 1100px;
  max-width: 1600px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.section-title {
  width: 60%;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  align-self: center;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 20px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  align-self: center;
  text-align: center;
}

.table {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 1100px;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
}

/* здесь все про Метод Фейнмана */
.feynman {
  display: flex;
  flex-direction: column;
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  box-sizing: border-box;
}

.feynman__title {
  max-width: 648px;
  text-align: center;
  margin: 100px 0 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  align-self: center;
  z-index: 2;
}

.feynman__subtitle {
  margin: 70px 0 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  z-index: 3;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 4;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

/* здесь все про Принципы Кауфмана */
.kaufman {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  z-index: 2;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 3;
}

.table_theme_dark {
  z-index: 4;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/* здесь все про футер */
.footer {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  list-style: none;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  margin: 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 16px;
  list-style: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}
